<% layout('layout/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/starRating.css">


    <div id='cluster-map' style="width: 100%; height: 500px; "></div>
    <h1>All Hotels</h1>
    <% for(let hotel of hotels){ %>
        <div class="card border-bottom-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= hotel.images[0].url %>" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">
                            <%= hotel.title%>
                        </h3>
                        <div class="row justify-content-evenly">
                            <h4 class="col-md-3 text-start me-auto">
                                $<%= hotel.price %>
                            </h4>

                            <p class="starability-result col-md-6  ms-auto me-5" data-rating="<%= hotel.OArating %>">
                                Rated: <%= hotel.OArating %>
                                    stars
                            </p>
                        </div>
                        <p class="card-text">

                            <%= hotel.description %>

                        </p>
                        <h5 class="text-muted">
                            <%=hotel.location%>
                        </h5>
                        <a href="/hotels/<%= hotel._id %>" class="btn btn-success">View</a>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
            <script>
                const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
                const hotels = { features: <%-JSON.stringify(hotels) %> }
            </script>
            <script src="/javascripts/mapCluster.js"></script>